{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
{{ form_start(form, {'action': path('documents_index')}) }}
    {{ form_widget(form.category) }}
    {{ form_widget(form.Rechercher) }}
{{ form_end(form) }}

    <h1>Liste des documents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>ReleaseDate</th>
                <th>Resume</th>
                <th>Actions</th>
                <th>Categorie</th>
                <th>Emprunté par:</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.author }}</td>
                <td>{{ document.releaseDate ? document.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ document.resume }}</td>
                <td>
                    <a href="{{ path('documents_show', {'id': document.id}) }}" class="btn btn-success">Voir\</a>
                    <a href="{{ path('documents_edit', {'id': document.id}) }}" class="btn btn-success">Editer</a>
                </td>
                <td> {{ document.category.name }} </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('documents_new') }}" class="btn btn-success">Ajouter  un nouveux  document</a>
{% endblock %}
