{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h1>Documents</h1>
    <!-- <form class="form-inline" action="" method="post">
      <select class="form-control" name="">
        <option value="...">Trier...</option>
        <option value="1">title</option>
        <option value="0">author</option>
      </select>
      <button class="btn btn-primary" type="submit" name="button">OK</button>
    </form> -->


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ document.author }}</td>
            </tr>
            <tr>
                <th>ReleaseDate</th>
                <td>{{ document.releaseDate ? document.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ document.resume }}</td>
            </tr>
            <tr>
                <th>categorie</th>
                <td>{{ document.category.name }}</td>
            </tr>
            <tr>
              <th>Emprunteur</th>
              <td>{{ document.borrower.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('documents_index') }}">Revenir à la liste/</a>

    <a href="{{ path('documents_edit', {'id': document.id}) }}">Editer</a>

    {{ include('documents/_delete_form.html.twig') }}
{% endblock %}
