{% extends 'base.html.twig' %}

{% block title %}Borrower index{% endblock %}

{% block body %}
    <h1>Borrower index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>BorrowerNumber</th>
                <!-- <th>Book</th> -->
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrower in borrowers %}
            <tr>
                <td>{{ borrower.id }}</td>
                <td>{{ borrower.name }}</td>
                <td>{{ borrower.address }}</td>
                <td>{{ borrower.email }}</td>
                <td>{{ borrower.borrowerNumber }}</td>
                <!-- <td> borrower.documents.title </td> -->
                <td>
                    <a href="{{ path('borrower_show', {'id': borrower.id}) }}">show</a>
                    <a href="{{ path('borrower_edit', {'id': borrower.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrower_new') }}">Create new</a>
{% endblock %}
