{% extends 'base.html.twig' %}

{% block title %}Borrower index{% endblock %}

{% block body %}
    <h1>Listes emprunteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Addresse</th>
                <th>Email</th>
                <th>Numéro</th>
                <th>Actions</th>
                <th>Livres empruntés</th>

                
            </tr>
        </thead>
        <tbody>
        {% for borrower in borrowers %}
            <tr>
                <td>{{ borrower.id }}</td>
                <td>{{ borrower.name }}</td>
                <td>{{ borrower.address }}</td>
                <td>{{ borrower.email }}</td>
                <td>{{ borrower.borrowerNumber }}</td>
                <td>
                    <a href="{{ path('borrower_show', {'id': borrower.id}) }}">Voir</a>
                    <a href="{{ path('borrower_edit', {'id': borrower.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrower_new') }}">Nouvel emprunteur</a>
{% endblock %}
